name: Keep Render Awake

on:
  schedule:
    - cron: "*/7 * * * *"  # every 7 minutes
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render backend
        run: |
          curl -s https://management-system-backend-y63s.onrender.com/health || true
